<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="canvas-container">
        <canvas id='canvas' width='300' height='300'>
            Canvas not supported, use another browser.
        </canvas>
    </div>
    <button type="button" id="spin">
        Spin
    </button>

    <script src="./assets/lib/jquery-3.3.1.min.js"></script>
    <script src="./assets/lib/Winwheel.min.js"></script>
    <script src="./assets/lib/TweenMax.min.js"></script>
    <script src="./scripts/main.js"></script>
</body>
</html>